requests
beautifulsoup4
tqdm
loguru
python-dotenv
psutil
pydub
packaging
# Для работы с изображениями и OCR
Pillow
pytesseract
# Для работы с документами Office
python-docx
openpyxl
python-pptx
# Для работы с PDF
PyPDF2
python-docx